@model CharacterSheet.MVC.Models.Character

@{
    ViewData["Title"] = "Create";
    List<string> AttributeNames = new List<string>
    {
        "Strength","Dexterity","Stamina","Intelligence","Charisma","Wisdom"
    };
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHitPoints" class="control-label"></label>
                <input asp-for="MaxHitPoints" class="form-control" />
                <span asp-validation-for="MaxHitPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseAttackBonus" class="control-label"></label>
                <input asp-for="BaseAttackBonus" class="form-control" />
                <span asp-validation-for="BaseAttackBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" />
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Attributes.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="@AttributeNames[i]" class="control-label">@AttributeNames[i]</label>
                    <input type="number" asp-for="@Model.Attributes[AttributeNames[i]]" class="form-control" />
                    <span asp-validation-for="@Model.Attributes[AttributeNames[i]]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input hidden name="CharID" value="0" id="CharID" />
            <input hidden name="CampID" value="0" id="CampID" />
            <input hidden name="UserID" value="0" id="UserID" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
